 svg#freepik_stories-get-in-touch:not(.animated) .animable {
     opacity: 0;
 }
 
 svg#freepik_stories-get-in-touch.animated #freepik--Floor--inject-8 {
     animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
     animation-delay: 0s;
 }
 
 svg#freepik_stories-get-in-touch.animated #freepik--Shadows--inject-8 {
     animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
     animation-delay: 0s;
 }
 
 svg#freepik_stories-get-in-touch.animated #freepik--Pictures--inject-8 {
     animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomOut;
     animation-delay: 0s;
 }
 
 svg#freepik_stories-get-in-touch.animated #freepik--Plants--inject-8 {
     animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
     animation-delay: 0s;
 }
 
 svg#freepik_stories-get-in-touch.animated #freepik--Table--inject-8 {
     animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
     animation-delay: 0s;
 }
 
 svg#freepik_stories-get-in-touch.animated #freepik--Device--inject-8 {
     animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
     animation-delay: 0s;
 }
 
 svg#freepik_stories-get-in-touch.animated #freepik--Icons--inject-8 {
     animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
     animation-delay: 0s;
 }
 
 svg#freepik_stories-get-in-touch.animated #freepik--Window--inject-8 {
     animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight, 1.5s Infinite linear wind;
     animation-delay: 0s, 1s;
 }
 
 svg#freepik_stories-get-in-touch.animated #freepik--character-2--inject-8 {
     animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
     animation-delay: 0s;
 }
 
 svg#freepik_stories-get-in-touch.animated #freepik--character-1--inject-8 {
     animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
     animation-delay: 0s;
 }
 
 @keyframes fadeIn {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
 
 @keyframes slideRight {
     0% {
         opacity: 0;
         transform: translateX(30px);
     }
     100% {
         opacity: 1;
         transform: translateX(0);
     }
 }
 
 @keyframes zoomOut {
     0% {
         opacity: 0;
         transform: scale(1.5);
     }
     100% {
         opacity: 1;
         transform: scale(1);
     }
 }
 
 @keyframes lightSpeedRight {
     from {
         transform: translate3d(50%, 0, 0) skewX(-20deg);
         opacity: 0;
     }
     60% {
         transform: skewX(10deg);
         opacity: 1;
     }
     80% {
         transform: skewX(-2deg);
     }
     to {
         opacity: 1;
         transform: translate3d(0, 0, 0);
     }
 }
 
 @keyframes zoomIn {
     0% {
         opacity: 0;
         transform: scale(0.5);
     }
     100% {
         opacity: 1;
         transform: scale(1);
     }
 }
 
 @keyframes slideUp {
     0% {
         opacity: 0;
         transform: translateY(30px);
     }
     100% {
         opacity: 1;
         transform: inherit;
     }
 }
 
 @keyframes wind {
     0% {
         transform: rotate(0deg);
     }
     25% {
         transform: rotate(1deg);
     }
     75% {
         transform: rotate(-1deg);
     }
 }
 
 @keyframes slideDown {
     0% {
         opacity: 0;
         transform: translateY(-30px);
     }
     100% {
         opacity: 1;
         transform: translateY(0);
     }
 }